# Composer dependencies
/vendor/

/composer.lock

# PHPStorm project files
.idea/
/.vscode/

# Node modules
/node_modules/

# Log files
*.log
*.cache

# Cache directories
/cache/
/tmp/
/.php-cs-fixer.cache
/.phpunit.cache

# Environment variables
.env

# PHPUnit
.phpunit.result.cache

# Coverage reports
/coverage/

# User-specific files
*.swp
*.swo

benchmark.php